html {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#card {
    position: fixed;
    top: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 136px;
    height: 190px;
    background-image: url('gold1.png');
    color: #2b2b2b;
    opacity: 0.5;
}
#card > div {
    font-size: 8pt;
}

input {
    width: 40px;
    outline: none;
}

.stats-panel-cards {
    background-color: #ebebeb;
    border: 1px #d1d1d1;
    border-radius: 5px;
    margin: 2px;
    font-size: small;
}
#stats-panel {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
}
#stats-panel > div {
    min-width: 180px;
}
#stats-panel > div > * {
    padding: 3px;
    min-width: 64px;
}

#submit {
    text-align: center;
    outline: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    padding: 8px;
    margin: 8px;
    width: 128px;
    background-color: dodgerblue;
    color: white;
    font-size: 10pt;
}
#submit:active {
    filter: brightness(80%);
}

#ratings > div > span {
    border-radius: 3px;
    padding-left: 3px;
    padding-right: 3px;
    color: white;
}
#positions > div {
    margin: 4px;
}
#ratings > div {
    margin: 2px;
}
#ratings {
    display: flex;
    flex-direction: column;
    align-items: center;
}

